body,
html {
  margin: auto 0;
  width: 100%;
  height: 100%;
  background: url('./img/background.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  color: #c3cbd4;
  font-family: "Star", sans-serif;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin-left: 1rem;
  margin-right: 1rem;
  text-shadow: 1px 1px black;
}

@media only screen and (min-width: 768px) { 
  h1 {
    font-size: 2.5rem;
  }
 }

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map {
  height: 80%;
  width: 80%;
  background-color: #04041b;
  border: 3px solid black;
}