/* @font-face kit by Fonts2u (https://fonts2u.com) */
@font-face {
  font-family: 'STARWARS';
  src: url('./assets/fonts/STARWARS.eot?') format('eot'),
    url('./assets/fonts/STARWARS.woff') format('woff'),
    url('./assets/fonts/STARWARS.ttf') format('truetype'),
    url('./assets/fonts/STARWARS.svg#STARWARS') format('svg');
  font-weight: normal;
  font-style: normal;
}

body,
html {
  margin: auto 0;
  width: 100%;
  height: 100%;
  background: black;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#header {
  display: none;
  position: relative;
  z-index: 3;
  color: #c3cbd4;
  font-family: 'STARWARS', sans-serif;
  text-align: center;
  font-size: 2.2rem;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  margin: 0 1em 0.6em;
  text-shadow: 1px 1px 2px black;

  @media screen and (min-height: 800px) {
    margin-bottom: 1em;
  }

  @media screen and (max-width: 768px) {
    font-size: 1.8rem;
  }
  @media screen and (max-width: 600px) {
    font-size: 1.5rem;
  }

  @media screen and (max-width: 500px) {
    font-size: 1.2rem;
  }
}

#map { 
  position: relative;
  z-index: 3;
  height: 80%;
  width: 90%;
  border: none;
}

.stars,
.twinkling,
.clouds {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.stars {
  z-index: 0;
  background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top
    center;
}

.twinkling {
  z-index: 1;
  background: transparent url('https://image.ibb.co/ir1DE8/twinkling.png')
    repeat top center;
  animation: move-twink-back 200s linear infinite;
}

.clouds {
  z-index: 2;
  background: transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat
    top center;
  animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -10000px 5000px;
  }
}

@keyframes move-clouds-back {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 10000px 0;
  }
}
